/* HEADER HEADER HEADER HEADER HEADER */

body {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  background-color: black;
}

a {
  text-decoration: none;
}

.header__logo {
  width: 400px;
  filter: invert(1);
}

.header__nav {
  background-color: #edeeeb;
}

.header__boton {
  background-color: #3b4041;
}

/* /HEADER /HEADER /HEADER /HEADER */

.hero__div {
  overflow: hidden;
  padding: 0px;
}

.hero__div--video {
  overflow: hidden;
  padding: 0px;
}

.hero__vid {
  position: absolute;
  width: 100%;
  height: 50%;
  z-index: -200;
  object-fit: cover;
}

.hero__text {
  height: 50vh;
  background: linear-gradient(to right, #252829, transparent);
  opacity: 1;
  color: white;
  font-weight: bold;
  text-shadow: 10px 1px 20px #f6f5f6;
  margin: 0;
  transition: backdrop-filter 1s ease 0s, text-shadow 1s, opacity 0.5s;
}

.hero__text:hover {
  opacity: 0.9;
  text-shadow: none;
  backdrop-filter: blur(7px);
}

.hero__boton {
  color: #f6f6f5;
  background-color: #3b4041;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.hero__boton:hover {
  transform: scale(1.4, 1.4);
  box-shadow: 1px 1px 5px black;
}

/* QUIENES_SOMOS QUIENES_SOMOS QUIENES_SOMOS QUIENES_SOMOS  */

.qs__div {
  background: url(https://i.ytimg.com/vi/R9mXtzn8meE/maxresdefault.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 60px 30px;
}

.qs__txt {
  background-color: white;
}


.prod__img {
  border-radius: 20px;
  transition: all 0.2s ease;
}

.prod__img:hover {
  transform: scale(1.2,1.2);
}


.prod__container {
  background-color: #d8d8d8;
}

.clnt__img--adj {
  height: 271px;
  width: 271px;
  transition: all 0.2s ease;
  margin-bottom: 50px;
}

.clnt__img--adj:hover {
  transform: scale(1.2,1.2);
}

.clnt__container {
  background-color: #f6f5f6;
}



.footer__container {
  background-color: black;
}

/* .footer__img {
  filter: invert(1);
} */

.bi {
  color: white;
  font-size: 1.7rem;
}

.footer__list {
  color: white;
}

.footer__li a {
  color: white;
  font-size: 1rem;
}

.container__contacto {
  background-image: url(https://i.ytimg.com/vi/R9mXtzn8meE/maxresdefault.jpg);
  background-position: center;
  background-size: cover;
}

/* .contenedor__contacto {
  padding: 15px 0px;
  background-image: url(https://i.ytimg.com/vi/R9mXtzn8meE/maxresdefault.jpg);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
} */

.container__form {
  background-color: #ecebec;
}


.from__txtArea {
  height: 20vh;
}

.form__btn {
  width: 50%;
}

.productos__sct {
  background-color: #f6f5f6;
}

.producto__box {
  background-color: #edeeeb;
}

.producto__img {
  height: 25vh;
  width: auto;
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Esta última configuración ayuda a reedirecionar por el id de una manera más centrada que como funciona por defecto */

.anchor{
  display: block;
  height: 200px; 
  margin-top: -200px; 
  visibility: hidden;
}

/* MEDIA-QUERIES MEDIA-QUERIES MEDIA-QUERIES MEDIA-QUERIES  */

@media only screen and (max-width: 913px) {

  .footer__list {
    font-size: 1.1rem;
  }

  .footer__li a {
    display: none;
  }

}

@media only screen and (max-width: 767px) {
  .footer__li a {
    display: none;
  }
}


@media only screen and (max-width: 540px) {
  .header__logo {
    width: 250px;
  }
}

@media only screen and (max-width: 375px) {
  .header__logo {
    width: 200px;
  }
}

@media only screen and (max-width: 297px) {
  .header__logo {
    width: 150px;
  }
}

